h1 {
    color: white;
    text-align: center;
}
h2, h6{
    color:rgb(0, 179, 255);
}

span {
    color: white;
}
dt, p {
    color:rgb(55, 53, 53);
}
dt {
    font-weight: normal;
}

/* Articles page layout-originl */
/*****************************************************************/
div.article{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  
    
}
div.article> img{
   width:100%;

}
div.text{
    width:100%;
    background-color:rgb(221, 249, 239);
    padding: 3%;
    text-align: start;
    
}

div.footerSudo{
    position:relative;
    
}
div.footer{
    width:100%;
    background-color:dodgerblue;
    background-size: 100%;
    position: absolute;
    padding:5px;
    text-align: center;
}

/* @media screen and (max-width: 920px){
    div.title>img{
        width:100%;
        position:relative;
        left:0px;
        
    }
    div.specialty{
        top: 20%;
        left:5%;
        width:80%;
        z-index: 2;
    }
    div.specialty>h2, p, dt{
        
        color: white;
    }  
} */

/*****************************************************************/

