   
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
         <div class="container-fluid">
                <ul class="navbar-nav text-white">
                    <li class="nav-item">
                        <div class="" >
                        <p>Ying-Ni Huang Counselling Psychologist</p>
                        <p>黃盈霓諮商心理師</p>
                        </div>
                    </li>
                </ul>

                <div class="collapse navbar-collapse justify-content-end">
                    <ul class="navbar-nav text-white">
                    <li class="nav-item">
                        <a class="nav-link" href="./">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About me</a>
                    </li>
                
                    <li class="nav-item float-end">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item float-end">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
                </div>
                    
               
            </div>
             </div>
          </nav>
   
        
         {{!-- <div class="intro">
            <h3>When life throws you a curve ball..</h3>

            <p>You work hard, play work, wanting to create a good life you always want. But, sometimes things just don’t work out. All the sudden you might be spinning upside down. You lose your balance of your life. It feels painful but it can be alright. Life might simply suggest that you want something so much but you get stuck in the way to get it. At this moment, it is a good idea to come to therapy to talk to someone. If you are not ready, it is ok. Get as much time as you need and as much help as you can. Talking to friends, family or participate in some activity you like. No matter how you go through the difficult time of your life, it is not a waste but growth. If you are ready, I am honored to walk with you through the bumpy stage of your life.</p>
         </div>
         
         <div class="contact">
            <h2>CONTACT ME</h2>
            <p>我目前在紐西蘭，紐西蘭以外地區的朋友可以Email聯絡我，我提供線上諮商。</p>
            <p>Should you like to contact me, please either phone, email, or text. Please don't leave voicemail.</p>
            <p>Hamilton, New Zealand</p>
            <p>ciahuang@hotmail.com</p>
            <p>02102797628</p>
         </div> --}}
         <div class="counselling_box">
         <div class="title">
            <img src="./images/IMG_3136.jpg" id="IMG_3136">
            <div class="specialty">
            <h2>I can work with you..</h2>
            <dl>
                <dt>Depressed moods</dt>
                <dt>Anxiety</dt>
                <dt>Panic attacks</dt>
                <dt>Social phobia</dt>
                <dt>Obsessive compulsive disorder</dt>
                <dt>Relationship problem</dt>
                <dt>Low self-esteem</dt>
                <dt>Stress management</dt> 
                <dt>Career problems</dt>
                <dt>Life and cross-cultures adjustment issues(Immigration, moving.. )</dt>
                <dt>Grief and loss</dt>
            </dl>
            
            <p>Disclaimer:This is not an emergency service. If it's emergency, please call 111, go to the nearest emergency room, or call crisis team- Waikato: 0800 505 050; Palmerston North : 0800 653 357. Please call 1737 (24 hours/7days) should you need to talk to someone asap.  </p>
            </div>
         </div>

         <div class="intro">
            <img src="./images/IMG_2133.jpg" id="IMG_2133">
            <div class="counselling">
            <h2>Counselling</h2>
            <p>You might want to discuss your problems and find solutions with me. I will provide counselling with the length you need. I adopt eclectic approach including cognitive behavioral therapy, mindfulness-based therapy, acceptance and commitment psychotherapy, and solution-focused therapy. Together, we could build adaptive strategies and find hopes again.</p>
            </div>
        </div>
         <div class="help">
            <img src="./images/IMG_2383.jpg" id="IMG_2383">
            <div class="psychotherapy">
            <h2>Psychotherapy</h2>
            <p>I provide long-term psychodynamic psychotherapy to adults, young people, and seniors. Psychodynamic approach was originated from psychoanalysis founded by Sigmund Freud. He believed in human inner drives. They motivate people to succeed but also lead to failure. They bring love and hate, healing and hurt.<br> 
            <p>Psychodynamic approach is a deep psychological work to your mental life, comprising thoughts, emotions, and phantasies. While you might feel stuck, not knowing what to do, you do have the answer and ability to cope. You are only hindered unconsciously by fear, shame, worry to lose connection and trauma. Our brain is a delicate machine working in wonder to protect us from hurt feelings. Sometimes, our courage and confidence are buried down with  those unwanted feelings.</p> 
            <p>I will work with you to walk through those hurtful memories and wake your energy. In the safe space, I will listen attentively to whatever you want to share and respond to you with my tentative interpretation in a respectful way. You could share more of associated ideas, feedbacks and corrections. As our dialogue unfolds, you will understand yourself more and retrieve your motivation and ability. </p>
            </div>
         </div>
         <div class="contact">
            <img src="./images/IMG_3713.jpg" id="IMG_3713">
            <div class="couple_therapy">
            <h2>Couple Therapy</h2>
            <p>We build intimate relationship since we are born. We rely on our parents and live by close familial bond. Growing up, we are drawn by people who arouse romantic feelings within us. Entering adulthood, we might consider creating a life with our intimate partner. However, out  of our awareness, love relationship can turn into endless fights, cold distance, or lost of attraction. We become lonely and hopeless in our endeavor for love.</p>
            <p>I provide emotionally-focused couple therapy to the “love paradox.” It was formulated by Dr. Sue Johnson and Dr. Leslie Greenberg. Sue studied thousands of couple interaction in the video tapes and worked out this model. Sue and her colleagues conduct extensive research and support its effectiveness. EFT emphasizes our innate need for connection- attachment. I will work with you two to set up the goal of “your relationship.” EFT uses a beautiful metaphor for relationship-dance. I will guide you to share what’s happening between you and identify your “stuck dance.” From there, I will help you access your feelings and needs and in particular express them to your partner. Gradually, you will not step on each other’s toe (hurt and sorrow) on your relationship tango and could rebuild the intimate relationship which answers your deep longings.</p>
            </div>
         </div>
         <div class="footer">
            <p>©2023 by Ying-Ni Huang.</p>
         </div>
         </div>
