      <link rel="stylesheet" type="text/css" href="./css/counselling_mandarin.css">
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
         <div class="container-fluid">
                <ul class="navbar-nav text-white">
                    <li class="nav-item">
                        <div class="" >
                        <p>Ying-Ni Huang Counselling Psychologist</p>
                        <p>黃盈霓諮商心理師</p>
                        </div>
                    </li>
                </ul>

                <div class="collapse navbar-collapse justify-content-end">
                    <ul class="navbar-nav text-white">
                    <li class="nav-item">
                        <a class="nav-link" href="./">封面</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./form">關於我/聯絡</a>
                    </li>
                
                    <li class="nav-item float-end">
                        <a class="nav-link" href="./articles">文章</a>
                    </li>
                    
                </ul>
                </div>
                    
               
            </div>
             </div>
          </nav>

    <script src="./data/content_counselling_mandarin.js"></script>
         
    <script src="./js/client_counselling_mandarin.js"></script>
         <div class="counselling_mandarin_box">
         {{!-- <div class="title">
            <img src="./images/IMG_3136.jpg" id="IMG_3136">
            <div class="specialty">
            <h2>我可以協助您..</h2>
            <dl>
                <dt>LGBTQ友善</dt>
                <dt>伴侶諮商（多元性別認同伴侶）</dt>
                <dt>焦慮</dt>
                <dt>低自尊</dt>
                <dt>社交焦慮</dt>
                <dt>恐慌症</dt>
                <dt>強迫症</dt>
                <dt>憂鬱</dt> 
                <dt>生涯發展</dt>
                <dt>生活與文化適應議題</dt>
                <dt>悲傷與失落</dt>
            </dl>
            
            <p>我不提供緊急諮商。如有緊急狀況，請撥111或緊急專線- Waikato: 0800 505 050; Palmerston North : 0800 653 357. </p>
            </div>
         </div>

         <div class="intro">
            <img src="./images/IMG_2133.jpg" id="IMG_2133">
            <div class="counselling">
            <h2>短期諮商</h2>
            <p>若您偏好短期諮商，希望學習因應困難技巧，解決問題，我會採用綜合諮商方式，包括認知行為治療、正念、承諾與接受療法與焦點解決來協助您。</p>
            </div>
        </div>
         <div class="help">
            <img src="./images/IMG_2383.jpg" id="IMG_2383">
            <div class="psychotherapy">
            <h2>心理治療</h2>
            <p>我提供長期心理動力取向治療，服務對象包括成人、青少年和年長者。我會提供您安全的晤談空間，您可以說出任何心裡所想，像是困擾您的問題、想法、感覺、夢境、或是稍閃即逝的一個念頭，我會專注的聆聽，不帶批判得提供我的解釋，透過我們這樣的對話，我會幫助您探索自我，穿越您的害怕、抗拒，理解您從小到大成長的故事、創傷，喚醒您潛藏的能力。</p> 
             </div>
         </div>
         <div class="contact">
            <img src="./images/IMG_3713.jpg" id="IMG_3713">
            <div class="couple_therapy">
            <h2>伴侶治療</h2>
            <p>我們從出生開始便跟父母建立親密關係，長大後我們開始對愛情感興趣，展開異性或同性伴侶的追求，年紀漸長也許開始考慮結婚，這一連串美麗生活的建立，有可能突然就出了問題，與愛戀對象之間的感覺變了、或者出現無盡的爭吵，到底發生了什麼事？</p>
            <p>我提供情緒焦點伴侶治療，這是由Dr. Sue Johnson 和 Dr. Leslie Greenberg所創，Dr. Sue Johnson研究了無數她所從事的伴侶治療錄影帶，而提出此治療模式，她的團隊從事許多實證研究，並支持其有效性。此治療以人的依附/依賴需求觀點來頗析親密關係問題，它以「探戈」來比喻伴侶間所營造的關係，當您出現無盡的爭執、關係疏遠了，就像是探戈給卡住了，我會與您共同設立關係的目標，引導您分享爭執事件、您的想法與感覺來理解您的舞步出了什麼問題，並且說出爭吵背後最誠摯的需求，逐漸重塑您親密的關係，並滿足您關係中依賴、安全感、支持、被肯定、浪漫等等的需求。</p>
            </div>
         </div>
         <div class="footer">
            <p>©2023 by Ying-Ni Huang.</p>
         </div> --}}
         
         </div>
         

