

    <div class="box">
    
    <img src="./images/20160817_113553.JPG"  id="background">
    <div class="content">
        <h1>A PLACE TO REST YOUR HEART</h1>  
        <div class="buttongrid">
        
            <button class="button" id="button1" onclick="window.location.href='./counselling';">
                <img src="./images/bookmark.svg">
                <span>Counselling/Psychotherapy</span>
                
            </button>
            
            <button class="button" id="button2" onclick="window.location.href='./counselling_mandarin';">
                <img src="./images/user.svg">
                <span>中文心理諮商/治療</span>
            </button>

        </div>
    </div>
    </div>
         
 